* {
    margin: 0px auto;
    padding: 0px;
}

body {
    background-image: url("index-bg.jpg");
}

.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    background-color: rgba(73, 199, 157, 0.584);
}


.form-head, label, p {
    color: white;
}

input {
    background-color: rgb(196, 196, 196);
    border: 0px;
    border-radius: 3px;
}

.form-card {
    background-color: rgba(34, 135, 102, 0.584);
    border-radius: 15px;
    width: 380px;
    height: fit-content;
    padding: 30px;
}

.form-field {
    margin: 10px 0px;
}

.submit-btn {
    padding: 10px;
    border-radius: 6px;
}